<!DOCTYPE html>
<html>
	<head>
		<title>Authorship Identification</title>
			<link href="../static/css/home-page.css" rel="stylesheet">
	</head>
	<body>
   		<nav class="topnav" role="navigation">
            		<div class="container">
				<div class="navbar-header">
                    			<a class="navbar-brand">Authorship Identification</a>
                		</div>
				<div class="right-nav">
                        			<a class="ha" href="/">Home</a>
                        			<a class="ha" href="/aboutus">About Us</a>
               			 </div>
                		 <!-- /.navbar-collapse -->
            		</div>
            		<!-- /.container -->
        	</nav>
		<div class="about-header">
           		 <div class="container">
				<div class="intro-message">
                            		<h1>Authorship Identification</h1>
					<hr class="intro-divider">
					<h3>The rapid development and proliferation of internet technologies caused online messages to be shared largely on web -based channels.The anonymous nature of online message distribution makes the identity tracing a critical problem.Hence we developed a framework for authorship identification of online messages to address the identity-tracing problem.
					</h3>
				</div>
			</div>
			<footer >
			<div class="container">
					<h2 class="white-text">Authorship Identification</h4>
					<p >This is a college project.</p>
					<h3 class="white-text">Made by</h5>
					<ul>
						<li><a>Lora Pereira</a></li>
						<li><a>Madonna Pereira</a></li>
						<li><a>Nandini Laad</a></li>
					</ul>                    
					<a class="green-text text-lighten-3">Fr. Conceicao Rodrigues College of Engineering</a>
			</div>
        </footer>
		</div>
		
                
	</body>
</html>
